---
import Layout from '../layouts/Layout.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `
wowowo ;)
`;
---

<Layout title="hi ha">
    <h1 class="mb-10">ninonino</h1>
    <Markdown content={explainer} class="mb-10 text-lg" />
</Layout>
