---

---

<footer class="pt-16 pb-12 sm:pt-24 sm:pb-16">
    <p class="text-sm">
        <a href="https://steflab.xyz" class="decoration-dashed text-primary underline-offset-8" target="_blank" rel="noopener noreferrer">
            Made by StefLab
        </a>
    </p>
</footer>

